.Tasks {
  background-color: whitesmoke; /* Gentle Whisper */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Tasks h3 {
  color: #235382; /* Deep Sea */
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600; /* Added weight for emphasis */
}

.Tasks .tasks-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 25px;
}

.Tasks .filterBtnContainer {
  margin-bottom: 25px;
}

.Tasks .filterBtnContainer .isActive {
  background-color: #235382;
}

.Tasks button {
  background-color: #7489be; /* Evening Tide */
  color: #ffffff; /* Pure Light */
  padding: 10px 20px; /* Adjusted padding for better proportion */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s, transform 0.2s; /* Added transform transition */
  font-weight: 500; /* Slightly bolder */
  width: fit-content;
}

.Tasks button:hover {
  background-color: #235382; /* Deep Sea */
  transform: scale(1.02); /* Slight scale increase on hover */
}

.Tasks button a {
  color: white;
  text-decoration: none;
}

.Tasks ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  width: 100%;
}

.Tasks li {
  background-color: #d9eeef; /* Morning Mist */
  padding: 15px; /* Increased padding */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: box-shadow 0.3s; /* Smooth transition for shadow */
  margin: auto auto;
  width: 90%;
}

.Tasks li:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

.Tasks .fa-xmark {
  cursor: pointer;
  color: #7489be; /* Evening Tide */
  margin-right: 15px;
  transition: color 0.3s; /* Smooth color transition */
  position: absolute;
  right: -15px;
}

.Tasks .fa-xmark:hover {
  color: red;
}

.Tasks .list-content {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  height: 100%;
}

.Tasks .list-content h4 {
  text-align: center;
  font-size: 17px;
  color: #555;
}

.Tasks .list-content p {
  margin: 5px 10px;
  color: #555; /* Darker text for better readability */
  font-size: 16px; /* Adjusted for consistent text sizing */
}

.Tasks .list-content .bottom-of-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

/* Additional style for completed tasks */
.Tasks .completed {
  text-decoration: line-through; /* Cross out completed tasks */
  color: #7489be; /* Evening Tide - to distinguish from active tasks */
}

@media only screen and (min-width: 768px) {
  .Tasks ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Tasks li {
    width: calc(50% - 100px);
    margin: 10px;
    height: auto;
  }
}
