/* Overall Layout */
.CommunityTips {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.CommunityTips h2 {
  color: #333;
  text-align: center;
}

.CommunityTips .tip-text {
  display: inline-block;
  word-break: break-word;
  white-space: normal;
  width: 90%;
}

/* Form Styling */
.CommunityTips .add-tip-form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.CommunityTips .add-tip-form textarea {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #9d9b9b;
}

.CommunityTips .add-tip-form button {
  background-color: #7489be;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.CommunityTips .add-tip-form button:hover {
  background-color: #235382;
}

/* List Styling */
.CommunityTips .community-tip-list {
  list-style-type: none;
  padding: 0;
}

.CommunityTips .community-tip-list li {
  background-color: #a6b5db;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 1px 0px 8px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-image: url("../../assets/route.png");
  background-repeat: no-repeat;
}

.CommunityTips .community-tip-list li:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.CommunityTips .community-tip-list img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 15px;
  border-radius: 50%;
}

.CommunityTips .community-tip-list .actions {
  display: flex;
  align-items: center;
}

.CommunityTips .fa-solid.fa-star {
  color: #ffd700; /* Gold for solid star */
}

.CommunityTips .fa-regular.fa-star {
  color: #3f5d71; /* Light gray for regular star */
}

.CommunityTips .community-tip-list p {
  margin: 10px 0;
}

.CommunityTips .community-tip-list span {
  margin-right: 20px;
}

.CommunityTips .tip-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid rgb(15, 1, 87);
  border-bottom: 5px solid rgb(15, 1, 87);
  padding: 10px;
}

.CommunityTips .left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.CommunityTips .right-column {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 75%;
}

/* .CommunityTips .community-tip-list img {
  max-width: 100px; 
} */

.CommunityTips .tip-content {
  margin-bottom: 30px;
}

.CommunityTips .tip-content .date {
  font-size: small;
}
.CommunityTips .tip-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CommunityTips .tip-actions p {
  margin-left: auto;
}

.CommunityTips .tip-actions button {
  background-color: #7489be;
  cursor: pointer;
  border-radius: 10px;
}

.CommunityTips button {
  background-color: #7f92c4;
  cursor: pointer;
  border: #333;
  border-radius: 5px;
  padding: 4px 8px;
}

.CommunityTips button:hover {
  background-color: #3f5d7a;
}

.CommunityTips .isActive {
  background-color: #3c5f81;
  color: white;
}

.CommunityTips .filter button {
  margin-top: 10px;
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  .CommunityTips {
    max-width: 800px;
  }
}
