/* Overall Layout */
.CommunityTips {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.CommunityTips h2 {
  color: #333;
  text-align: center;
}

/* Form Styling */
.CommunityTips .add-tip-form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.CommunityTips .add-tip-form textarea {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #9d9b9b; 
}

.CommunityTips .add-tip-form button {
  background-color: rgb(125, 188, 212);
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.CommunityTips .add-tip-form button:hover {
  background-color: #007bff;
}

/* List Styling */
.CommunityTips .community-tip-list {
  list-style-type: none;
  padding: 0;
  
}

.CommunityTips .community-tip-list li {
  background-color: rgb(206, 233, 243);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.CommunityTips .community-tip-list li:hover {
  transform: scale(1.01); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.CommunityTips .community-tip-list img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 15px;
  border-radius: 50%;
}

.CommunityTips .community-tip-list .actions {
  display: flex;
  align-items: center;
}

/* .CommunityTips .community-tip-list .star-icon {
  margin-right: 20px;
} */


.CommunityTips .fa-solid.fa-star {
  color: #F39C12; /* Gold for solid star */
}

.CommunityTips .fa-regular.fa-star {
  color: #3f5d71; /* Light gray for regular star */
}



.CommunityTips .community-tip-list p {
  margin: 10px 0;
}


.CommunityTips .community-tip-list span {
  margin-right: 20px; 
}


.CommunityTips .tip-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgb(42, 18, 72); 
  border-bottom: 2px solid rgb(42, 18, 72); 
  padding: 10px;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.right-column {
  display: flex;
  flex-direction: column;
  margin-left: 50px; 
  flex: 3; 
}

.community-tip-list img {
  max-width: 100px; 
}

.tip-content {
  margin-bottom: 10px; 
}

.tip-actions {
  display: flex;
  align-items: center;
}

.CommunityTips .tip-actions p {
  margin-left: auto; 

}

