.Calendar {
  height: 65vh;
  width: 90vw;
  color: #235382; /* Deep Sea */
  background-color: #d9eeef; /* Morning Mist */
  margin: auto;
  margin-top: 75px;
}

.Calendar .rbc-toolbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #d8e3fe; /* Twilight */
  color: #7489be; /* Evening Tide  */
  padding: 10px;
  border-radius: 8px;
}

.Calendar .rbc-toolbar label {
  font-size: 24px;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}

.Calendar .rbc-toolbar .rbc-btn-group:nth-child(1) {
  order: 2;
  align-self: flex-start;
}

.Calendar .rbc-toolbar .rbc-btn-group:nth-child(3) {
  order: 3;
  align-self: flex-end;
}

.Calendar .rbc-toolbar button {
  color: #235382; /* Deep Sea */
  background-color: #b5dafe; /* DayDream */
  border: none;
  margin: 0 5px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.Calendar .rbc-toolbar button:hover {
  background-color: #7489be; /* Evening Tide */
}

.Calendar .rbc-toolbar-label {
  display: none;
}

/* Event Container Styles */
.Calendar .eventContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2eeeb; /* Gentle Whisper */
  z-index: 20;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(35, 83, 130, 0.3); /* Deep Sea color for the shadow */
  width: 90%;
  max-width: 80vw; /* Adjust based on content */
  color: #235382; /* Deep Sea for text */
}

.Calendar .eventContainer h2,
.Calendar .eventContainer p {
  margin-bottom: 15px;
}

.Calendar .eventContainer button {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #b5dafe; /* DayDream */
  color: #ffffff; /* Pure Light */
  border: none;
  font-weight: bold;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.Calendar .eventContainer button:hover {
  background-color: #7489be; /* Evening Tide */
}

/* Add Form Container Styles */
.Calendar .addFormContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust as needed */
  max-width: 500px; /* Ensures form is not too wide on larger screens */
  padding: 20px;
  background-color: #d9eeef; /* Morning Mist for a soft background */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100; /* Ensures it's above other elements */
}

.addFormContainer form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addFormContainer input,
.addFormContainer textarea {
  border: 2px solid #235382; /* Deep Sea */
  border-radius: 4px;
  padding: 10px;
}

.addFormContainer button {
  background-color: #7489be; /* Evening Tide */
  color: #ffffff; /* Pure Light */
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addFormContainer button:hover {
  background-color: #235382; /* Deep Sea */
}
