.Header {
  padding: 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.Header .header-link {
  display: flex;
  align-items: center;
}

.Header a {
  text-decoration: none;
  color: #333;
}

.Header h1 {
  font-size: 20px;
  margin: 0;
}

.Header img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

.Header button {
  background-color: #007bff;
  color: white;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Header button:hover {
  background-color: #0056b3;
}

.Header .fa-bars {
  cursor: pointer;
  color: #333;
  font-size: 30px;
}

@media only screen and (min-width: 768px) {
  .Header h1 {
    font-size: 32px;
    margin: 0;
  }

  .Header button {
    padding: 15px 10px;
  }
}
