.EditAddressForm {
  background-color: #f3d5b5;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}

.EditAddressForm .address {
  display: flex;
  flex-direction: column;
}

.EditAddressForm h2 {
  margin-bottom: 10px;
}

.EditAddressForm input {
  background-color: #ffedd8;
  margin-bottom: 7px;

  padding: 7px 10px;
  border-radius: 20px;
  width: 60%;
  box-shadow: 0px 3px 5px #0000002e;
}

.EditAddressForm input {
  background-color: #ffedd8;
  width: 50%;
  border: none;
}

.EditAddressForm button {
  background-color: #ffedd8;
  border: none;
  width: 30%;

  padding: 14px 0;
  border-radius: 20px;
  box-shadow: 0px 3px 5px #0000002e;
}
