.Dashboard ul,
.Dashboard a {
  list-style: none;
  text-decoration: none;
  color: #235382; /* Deep Sea */
}

.Dashboard ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Dashboard .todays-date {
  font-size: 2.6em;
  font-weight: bold;
  color: rgb(54, 54, 54);
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
}

.Dashboard .flex {
  display: flex;
  justify-content: center;
}

.Dashboard .dashboard-display {
  background-color: whitesmoke; /* Gentle Whisper */
  width: 100%;
  height: fit-content;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Dashboard .mini-tasks,
.Dashboard .mini-tips,
.Dashboard .mini-cost-estimate,
.Dashboard .mini-calendar {
  background-color: #d9eeef; /* Morning Mist */
  width: 40vw;
  min-height: 100px;
}

.Dashboard h3 {
  text-align: center;
}

.Dashboard .tasks-tips {
  display: flex;
  align-items: flex-end;
}

.Dashboard .mini-display {
  background-color: #b5dafe; /* DayDream */
  box-shadow: 0px 3px 4px #7489be; /* Evening Tide */
  padding: 10px 10px;
  margin: 10px 10px;
  transition: 0.3s ease;
}

.Dashboard .mini-display:hover {
  transform: scale(1.01);
}

.Dashboard .mini-calendar .Calendar {
  background-color: #f2eeeb; /* Gentle Whisper */
  width: 100%;
  height: 40vh;
}

@media only screen and (min-width: 768px) {
}
