.AccountForm {
  background-color: #d8e3fe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}

.AccountForm h2 {
  color: #333;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.AccountForm label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-size: 16px;
}

.AccountForm input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.AccountForm .address {
  background-color: #e9e0d5;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.AccountForm .address p {
  color: #495057;
  font-weight: bold;
  margin-bottom: 10px;
}

.AccountForm button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: block;
  width: 100%;
  transition: background-color 0.3s;
}

.AccountForm button:hover {
  background-color: #0056b3;
}

@media only screen and (min-width: 768px) {
  .AccountForm .both-address-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}
