body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
}

i {
  cursor: pointer;
}

#root {
  overflow-x: hidden;
  position: relative;
}
