body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

body {
  background: linear-gradient(
    to bottom,
    rgb(209, 246, 255) 0%,
    rgb(202, 255, 222) 100%
  );
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
}

i {
  cursor: pointer;
}

#root {
  overflow-x: hidden;
  position: relative;
}
